In [14]:
import pandas as pd

# Personal Data

In [45]:
smart_power = {
    'Intentionality': 3.83,
    'Logos': 2.8,
    'Situation Awareness': 2.67,
    'Agency': 2.4
}

In [16]:
hard_power = {
    'Ethos': 2.75,
    'Might': 2.17
}

In [33]:
soft_power = {
    'Pathos': 2.5,
    'Allocentrism': 2.33,
    'Coalitions': 2,
    'Networks': 1.83,
    'Exchange': 1.83,
    'Team-Building': 1.8
}

In [49]:
df_smart_power = pd.DataFrame(list(smart_power.items()), columns=['Name', 'Value'])
df_smart_power['Tactic'] = 'Smart'
df_smart_power

                  Name  Value Tactic
0       Intentionality   3.83  Smart
1                Logos   2.80  Smart
2  Situation Awareness   2.67  Smart
3               Agency   2.40  Smart

In [48]:
df_hard_power = pd.DataFrame(list(hard_power.items()), columns=['Name', 'Value'])
df_hard_power['Tactic'] = 'Hard'
df_hard_power

    Name  Value Tactic
0  Ethos   2.75   Hard
1  Might   2.17   Hard

In [47]:
df_soft_power = pd.DataFrame(list(soft_power.items()), columns=['Name', 'Value'])
df_soft_power['Tactic'] = 'Soft'
df_soft_power

            Name  Value Tactic
0         Pathos   2.50   Soft
1   Allocentrism   2.33   Soft
2     Coalitions   2.00   Soft
3       Networks   1.83   Soft
4       Exchange   1.83   Soft
5  Team-Building   1.80   Soft

In [50]:
absolute_dat = pd.concat([df_smart_power, df_hard_power, df_soft_power], axis=0)
absolute_dat

                  Name  Value Tactic
0       Intentionality   3.83  Smart
1                Logos   2.80  Smart
2  Situation Awareness   2.67  Smart
3               Agency   2.40  Smart
0                Ethos   2.75   Hard
1                Might   2.17   Hard
0               Pathos   2.50   Soft
1         Allocentrism   2.33   Soft
2           Coalitions   2.00   Soft
3             Networks   1.83   Soft
4             Exchange   1.83   Soft
5        Team-Building   1.80   Soft

In [51]:
dat1 = pd.read_csv('../data/dat1.csv')
dat2 = pd.read_csv('../data/dat2.csv')
dat3 = pd.read_csv('../data/dat3.csv')

# Full Data

In [52]:
full_dat = pd.concat([dat1, dat2, dat3])
full_dat

,ITEM,TACTIC,SELF_SCORE,GROUP_MEAN_SELF_SCORE,PERCENTILE
0,I show initiative in taking on work.,Agency,4.0,2.96,86
1,I am willing to trade minor goals to achieve m...,Intentionality,4.0,3.04,85
2,I work with a specific purpose in mind.,Intentionality,4.0,3.16,83
3,I stay on track despite potential distractions.,Intentionality,4.0,2.75,90
4,I am resilient in the pursuit of goals.,Intentionality,4.0,3.22,81
...,...,...,...,...,...
11,I prioritize group cohesion.,Team-Building,2.0,3.08,12
12,I think of rewards to offer others to obtain t...,Exchange,1.0,2.44,7
13,I maintain professional contacts at multiple l...,Networks,1.0,2.82,5
14,I actively seek new people to incorporate into...,Networks,1.0,2.69,5
15,I build excitement around the essence of my gr...,Team-Building,1.0,2.94,5

In [53]:
percentiles = full_dat.groupby('TACTIC')['PERCENTILE'].mean()
percentiles

TACTIC
Agency                 31.600000
Allocentrism           18.500000
Coalitions             14.500000
Ethos                  48.250000
Exchange               16.333333
Intentionality         78.000000
Logos                  35.000000
Might                  33.000000
Networks               20.666667
Pathos                 30.166667
Situation Awareness    34.833333
Team-Building          15.200000
Name: PERCENTILE, dtype: float64

# Merge Data

In [54]:
absolute_dat

                  Name  Value Tactic
0       Intentionality   3.83  Smart
1                Logos   2.80  Smart
2  Situation Awareness   2.67  Smart
3               Agency   2.40  Smart
0                Ethos   2.75   Hard
1                Might   2.17   Hard
0               Pathos   2.50   Soft
1         Allocentrism   2.33   Soft
2           Coalitions   2.00   Soft
3             Networks   1.83   Soft
4             Exchange   1.83   Soft
5        Team-Building   1.80   Soft

In [55]:
merge_dat = full_dat.merge(absolute_dat, left_on='TACTIC', right_on='Name', how='left')
merge_dat

,ITEM,TACTIC,SELF_SCORE,GROUP_MEAN_SELF_SCORE,PERCENTILE,Name,Value,Tactic
0,I show initiative in taking on work.,Agency,4.0,2.96,86,Agency,2.40,Smart
1,I am willing to trade minor goals to achieve m...,Intentionality,4.0,3.04,85,Intentionality,3.83,Smart
2,I work with a specific purpose in mind.,Intentionality,4.0,3.16,83,Intentionality,3.83,Smart
3,I stay on track despite potential distractions.,Intentionality,4.0,2.75,90,Intentionality,3.83,Smart
4,I am resilient in the pursuit of goals.,Intentionality,4.0,3.22,81,Intentionality,3.83,Smart
...,...,...,...,...,...,...,...,...
62,I prioritize group cohesion.,Team-Building,2.0,3.08,12,Team-Building,1.80,Soft
63,I think of rewards to offer others to obtain t...,Exchange,1.0,2.44,7,Exchange,1.83,Soft
64,I maintain professional contacts at multiple l...,Networks,1.0,2.82,5,Networks,1.83,Soft
65,I actively seek new people to incorporate into...,Networks,1.0,2.69,5,Networks,1.83,Soft
66,I build excitement around the essence of my gr...,Team-Building,1.0,2.94,5,Team-Building,1.80,Soft

In [56]:
merge_dat.groupby('Tactic')['PERCENTILE'].mean()

Tactic
Hard     39.100000
Smart    45.909091
Soft     19.342857
Name: PERCENTILE, dtype: float64

In [64]:
absolute_dat.groupby('Tactic')['Value'].sum() * 4

Tactic
Hard     19.68
Smart    46.80
Soft     49.16
Name: Value, dtype: float64